.loginArea {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 8rem auto;
}

.entryField {
  border: none;
  background-color: #edf2f5;
  color: #7e8081; /* Color of the input text */
  font-size: 1rem;
  caret-color: #7e8081; /* Color of the text cursor */
  padding: 1rem;
  box-shadow: 2px 5px 23.4px 0 rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  outline: none; /* remove default outline when selected */
  margin: 0.6rem;
}

.loginButton,
.registerButton {
  border: none;
  background-color: #fc0;
  color: #050708; /* Color of the input text */
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem;
  box-shadow: 2px 5px 23.4px 0 rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  margin: 0.6rem;
}

.loginButton {
  margin: 0.6rem 0.6rem 6rem 0.6rem;
}
